#font{
    font-family: 'Poppins', sans-serif;
}

.singa {
    width: 545px;
    height: 230px;
}

.posisi0 {
    position: relative;
    right: 60%;
}

.posisi1 {
    position: relative;
    top: 110px;
    height: 240px;
    width: 280px;
}

.posisi2 {
    position: relative;
    bottom: 123px;
    right: 285px;
    width: 280px;
    height: 215px;
}

.textposisi {
    position: relative;
    top: 120px;
    left: 400px;
}

.Forms {
    width: 700px;
    height: 260px;
    resize: none;
}

.form-positon {
    position: relative;
    left: 720px;
    bottom: 263px;
}

.form-size {
    width: 370px;
    height: 50px;
}

.background1 {
    margin-top: -120px;
    background: rgba(0, 0, 0, .65)url('img/bg1.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 121px;
    height: 400px;
    max-width: 100%;

}

.backgrounds {
    margin-top: -120px;
    background: rgba(0, 0, 0, .65)url('img/bg2.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    height: 500px;
    max-width: 100%;
}

.textposisi {
    position: relative;
    top: 120px;
    left: 400px;
}

.navbar {
    height: 100px;
    background: none;
}

.ketebalan a {
    text-decoration: none;
}

.kudanil {
    position: relative;
    top: -240px;
    left: 266px;
    height: 240px;
    width: 280px;
}

.badak {
    position: relative;
    bottom: 474px;
    right: 18px;
    width: 280px;
    height: 215px;
}

.buaya {
    width: 545px;
    height: 230px;
}
.maps-size{
    height: 400%;
}
